/* ALL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

div img {
    display: block;
    width: 100%;
}

.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
}

/* HEADER */

header {
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: #fff;
}

header .menu {
    justify-content: space-between;
}

/* APRESENTAÇÃO */

.apresentacao {
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao {
    min-height: 200px;

}

.texto-apresentacao h1 {
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    background-color: #122a57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 220px;
    display: block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
}

/* QUEM SOMOS */

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before {
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;

}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img {
    min-width: 420px;
}

/* SERVIÇOS */

.container-externo {
    background-color: #122a57;
    width: 100%;
}

#servicos {
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;

}

#servicos h2 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 30px;
}

.list-servicos {
    display: flex;
    justify-content: space-between;
}

.list-servicos .item-servicos {
    text-align: center;
}

.item-servicos a {
    width: 120px;
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 12px;
    color: #122a57;
    font-weight: 700;
}

.item-servicos p {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
}

.item-servicos img {
    max-width: 70%;
    margin: auto;
}

/* PLANOS */

#planos {
    flex-direction: column;
    min-height: 50vh;
    padding-top: 50px;

}

#planos h2 {
    font-size: 32px;
}

.list-planos {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 50px;
}

.item-plano {
    flex: 1;
    border: 5px solid #122a57;
    margin-right: 20px;
    padding: 20px;
    max-width: 240px;


}

.item-plano .btn {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;

}

.item-plano h3::after {
    content: "";
    background-color: #122a57;
    width: 70%;
    height: 3px;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.item-plano ul li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}


.item-plano ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 5px;

}

/* FOOTER */

footer {
    background-color: #122a57;
    height: 70px;
    display: flex;
    align-items: center;
}

footer .footer {
    align-items: center;
    justify-content: space-between;
    color: #fff;
}





/* MOBILE */

@media(max-width: 992px) {
    .flex-container {
        flex-direction: column;

    }

    .apresentacao {
        flex-direction: column-reverse;
        height: 70vh;
        margin-top: 60px;
        margin-bottom: 50px;
    }

    .apresentacao .texto-apresentacao {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .apresentacao .btn {
        margin: 20px auto;
    }

    #quem-somos {
        flex-direction: column-reverse;
    }

    #quem-somos h2 {
        text-align: center;
        display: block;
    }

    #quem-somos h2::before {
        visibility: hidden;
    }

    #quem-somos p {
        margin: 10px;
        max-width: 90%;
        text-align: justify;
    }

    #quem-somos img {
        min-width: 320px;
        margin: auto;
    }

    #servicos h2 {
        text-align: center;
    }

    .list-servicos {
        flex-direction: column;
    }


    .item-servicos img {
        width: 40%;
        margin: auto;
    }

    #planos h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .list-planos {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-planos .item-plano {
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }


    footer .footer {
        flex-direction: column;
    }
}